div {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}

button {
    float: left;
    left: 25%;
    margin: 120px 50px;
    position:relative;
    top:50%;
    width: 20%;
}

img {
    float: left;
}

.elements {
    padding-bottom: 250px;
}