table {
    margin-right: auto;
    margin-left: auto;
}

tr {
    height: 110px;
}

.bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 50%;
}

.start {
    text-align: center;
}

.startbutton {
    position: absolute;
    top: 50%;
}

.backbutton {
    left: 2%;
}